@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #98B1B9;
}

.active{
  background-color: #fff;
  padding: .6em 1.2em;
  border-radius: 5px 5px 0 0;
}